.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bx--content {
  margin-top: 3rem; /* Adjust based on your Header height */
  flex-grow: 1;
  background-color: #f4f4f4;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

@media (max-width: 1056px) {
  .page-container {
    padding: 1rem;
  }
}
