SQLAlchemy==2.0.31
elasticsearch==8.14.0
fastapi==0.109.2
ibm-generative-ai==3.0.0
openpyxl==3.1.5
pandas==2.2.2
pinecone-client==4.0.0
psycopg2-binary==2.9.9
pydantic==2.7.2
pydantic_settings==2.2.1
pymilvus==2.4.4
PyMuPDF==1.24.8
python-docx
python-dotenv==1.0.1
scikit-learn==1.5.1
weaviate-client==4.5.3
chromadb-client==0.5.5