chromadb==0.5.5
core==1.0.1
docx==0.2.4
elasticsearch==8.14.0
fastapi==0.109.2
genai==2.1.0
pandas==2.2.2
pinecone==4.0.0
psycopg2==2.9.9
pymilvus==2.4.4
pymupdf==1.24.8
pytest==8.3.1
pytest_asyncio==0.23.8
python-dotenv==1.0.1
SQLAlchemy==2.0.31
vectordbs==0.1.0
