# MkDocs and Material Theme
mkdocs>=1.5.3
mkdocs-material>=9.5.0

# Plugins
mkdocs-git-revision-date-localized-plugin>=1.2.0
mkdocs-minify-plugin>=0.7.0
mkdocs-awesome-pages-plugin>=2.9.0

# Extensions
pymdown-extensions>=10.5
